*{
    margin:0;
    padding: 0;
    box-sizing: border-box;}


        /*font-family: 'Nunito', sans-serif ;
        font-family: 'Poppins', sans-serif;*/
    
    
    


.body{
    background-image: url('bg_produtos.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
   

}





#geral span{
    font-family: 'Nunito', sans-serif ;
    
}

#geral div{
    font-family: 'Poppins', sans-serif;
}
  
.line{
   
    height: 350px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    gap:50px;
    display: flex;
    align-items: center;

}  

.item{
    border-top: 20px solid rgb(255, 255, 255);
    border-left: 20px solid rgb(255, 255, 255);
    border-right: 20px solid rgb(255, 255, 255);
    border-bottom: 70px solid rgb(255, 255, 255);



    cursor:pointer;
    height: 350px;
    width: 290px;}

.imagem{
    margin: auto;
    width: 250px;
    height: 260px;
    border:0}

.txts_item{
    
    font-size: 18px;
    padding-bottom: 4px
}












