*{
    margin:0;
    padding: 0;
    box-sizing: border-box;}


        /*font-family: 'Nunito', sans-serif ;
        font-family: 'Poppins', sans-serif;*/
    
    
    


.body{
    background-image: url('bg_produtos.jpg');
    background-position: top center;
    background-size: cover;
    height: 100vh;
    

}

#geral span{
    font-family: 'Nunito', sans-serif ;
    
}

#geral div{
    font-family: 'Poppins', sans-serif;
}
  
.line{
    
    height: 350px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    gap:50px;
    display: flex;
    align-items: center;}  

.line2{
    margin-top: 20px;
    height: 35  0px;
    margin-left: 255px;
    margin-right: 255px;
    justify-content: center;
    gap:50px;
    display: flex;
    align-items: center;


}

.item{
    border-top: 20px solid rgb(255, 255, 255);
    border-left: 20px solid rgb(255, 255, 255);
    border-right: 20px solid rgb(255, 255, 255);
    border-bottom: 70px solid rgb(255, 255, 255);



    cursor:pointer;
    height: 350px;
    width: 290px;
    transition: 0.4s;

    transition-duration: 0.4s;
    transition: 450ms linear;



}
.item2{
    border-top: 20px solid rgb(255, 255, 255);
    border-left: 20px solid rgb(255, 255, 255);
    border-right: 20px solid rgb(255, 255, 255);
    border-bottom: 50px solid rgb(255, 255, 255);




    cursor:pointer;
    height: 350px;
    width: 580px;
    transition: 0.4s;

    transition-duration: 0.4s;
    transition: 450ms linear;
    


}
.item3{
    border-top: 20px solid rgb(255, 255, 255);
    border-left: 20px solid rgb(255, 255, 255);
    border-right: 20px solid rgb(255, 255, 255);
    border-bottom: 70px solid rgb(255, 255, 255);



   
    cursor:pointer;
    height: 350px;
    width: 290px;
    transition: 0.4s;

    transition-duration: 0.4s;
    transition: 450ms linear;
    
}

.imagem{
    margin: auto;
    width: 250px;
    height: 260px;
    border:0}
   
.imagem2{
    margin: auto;
    width: 250px;
    height: 260px;
    border:0


    }

.ft_item2{
    margin:auto;
    width: 540px;
    border: 0;
    height: 280px;
}

.txts_item{
    
    font-size: 18px;
    padding-bottom: 4px
}
.txt_2{


}

.item2:hover{    transform: translate(5px, 5px);
    box-shadow: 3px 3px 0 3px;
    transition: 0.4s;
    border-radius: 7px;

}
.item:hover {
    
    transform: translate(5px, 5px);
    box-shadow: 3px 3px 0 3px;
    transition: 0.4s;
    border-radius: 7px;

}

.item3:hover{
    transform: translate(5px, 5px);
    box-shadow: 3px 3px 0 3px;
    transition: 0.4s;
    border-radius: 7px;

}





















































#a{
    height:  7500px;}