*{
    margin:0;
    padding: 0;
    box-sizing: border-box;}


.body{
    background-image: url('bg-produtos-gerais.jpg');
    background-position: top center;
    background-size: cover;
    height: 100vh;}   

  nav.manu-lateral{
        width: 75px;
        height: 100%;
        background-color: rgb(115, 167, 127);
        padding: 40px 0 40px 1% ;   
        position: fixed;
        top:0;
        left:0;
        overflow: hidden;
        transition: 0.5s    ;}

nav.manu-lateral.expandir{
    width: 300px;}

.bt_exp{
    width: 100%;
    padding: 10px;}

.bt_exp > i{
color:white;
font-size: 24px;
cursor: pointer;}

.bt_voltar{
    text-decoration: none;
    color: white;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 5px;
    z-index: 12;
    display: flex;
    font-size: 20px;
    margin-left: -2px;
}

#img_skt{
    margin-left: 6px;
    text-align: center;

}

ul{
height: 100%;
list-style-type: none;}

ul li.item_menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding:20px 4%;
    display: flex;
    line-height: 40px;}

ul li.ativo{
    background-color: rgba(88, 122, 96,0.2);}

ul li.item_menu a .txt_link{
    margin-left: 100px;
    transition: 0.5s }

nav.manu-lateral.expandir .txt_link{
    margin-left: 16px;}

#img_acessorios{
    margin-left: 8px;}

ul li.item_menu{transition: 0.4s;}

ul li.item_menu:hover{
    background-color: rgba(88, 122, 96,0.2) ;}
    

#section_masc{
    margin-top: 35px;
}  

.hide{
    display: none;

}

.colunas_geral{
display: flex;

}

#section_geral span{
    font-family: 'Nunito', sans-serif 
}
#section_geral div{
    font-family: 'Poppins', sans-serif;
}



#section_geral{ 
    margin-left: 100px;
    margin-top: -70px;
   
    }
#section_geral > div > .item{
    border-top: 20px solid rgb(255, 255, 255);
    border-left: 20px solid rgb(255, 255, 255);
    border-right: 20px solid rgb(255, 255, 255);
    border-bottom: 70px solid rgb(255, 255, 255);



    cursor:pointer;
    height: 350px;
    width: 290px;
    transition: 0.4s;
    
     
    float: left;
    margin-left: 80px;
    margin-top: 80px;}

 .item_block{
  
    background-color: black;

    height: 350px;
    width: 290px;
    transition: 0.4s;
    
     
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    text-align: center;
    display: flex;
    
    filter: blur(0.6px);
    
    }
    .item_block:hover{
        filter: blur(1.8px);
        transform:scale(1.07);
        

    transition: 0.3s;
    }
        .text_block{
            color: aliceblue;
            /*text-align: center;
            justify-content: center;
            align-items: center;
            position: absolute; */   
            position: absolute;
            top:0; 
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            padding-top:150px;
            transform: rotate(-35deg) ;
            font-size: 50px;
            
        }
        .text_block:hover{color: rgb(191, 65, 36);
            transition: 0.5s;
        }
    
     
    .block{
    height: 260px;
    width: 250px;
    border: 0;
    margin: auto;
  
    
}



#section_geral > div >.item:hover{
    border-radius: 8px;
    transform: translate(12px, 6px);
    box-shadow: 15px 15px rgba(81, 97, 84, 0.9);
    
}   
#section_geral > div> div>.img_item{
height: 260px;
width: 250px;
border: 0;
margin: auto;


}

.txt_titulo{
    font-size: 18px;
    padding-bottom: 4px

}


.desconto{
    width: 60px;
    height: 60px;
    background-color: rgb(60, 70, 26);
   position: absolute;
   color: aliceblue;
   display: flex;
   text-align: center;
   justify-content: center;
   padding-top: 5px;
    
}









































