*{
    margin:0;
    padding: 0;
    box-sizing: border-box;}

    .body{
        background-image: url('/bg-produtos-gerais.jpg');
        background-position: top center;
        background-size: cover;
        height: 100vh;
     }  


#sec_geral{
    background-color: rgba(240, 248, 255, 0.296);
    width:300px ;
    height: 500px;
    display: flex;
}


.slide-box img{
    height: 500px;
    width: 500px;
    border-radius: 30px;
    
}
section.slider{
    margin:0 auto;
    height: 500px;
    width: 500px;
    padding: 0;
    overflow: hidden;
   
     
}
.carrosel{  
    width: 500px;
    height: 500px;  
    display: flex;
   overflow: hidden;
   box-shadow: 12px 12px rgb(32, 42, 49);
   border-radius: 30px;
}
.slide-box {
    width: 500px;
    height: 500px;
    position: relative;
    text-align: center;
    margin-left: 0;
    transition: 700ms;
   
}



.geral{
display: flex;
gap: 75px;
margin-top:50px ;
align-items: center;
justify-content: center;
}

input{
   display: NONE;
    
}


.nav_manual, .nav_auto{
    position: absolute;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: -120px;
}

.nav_manual .manual_bt, .nav_auto div{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.nav_manual .manual_bt:hover{
    background-color: rgb(174, 182, 173);
}

.nav_manual .manual_bt:not(:last-child), .nav_auto div:not(:last-child){
    margin-right: 10px;
}
/*
#rd1:checked .nav_auto .auto_bt1{
    background-color: rgb(97, 136, 82);
}

#rd1:checked ~ .primeiro{
    margin-left: 0%;
}

#rd2:checked ~ .primeiro{
    margin-left: -25%;
}

#rd3:checked ~ .primeiro{
    margin-left: -50%;
}

#rd4:checked ~ .primeiro{
    margin-left: 75%;
}*/


#rd1:checked ~ .nav_auto .auto_bt1, 
    #rd2:checked ~ .nav_auto .auto_bt2,
        #rd3:checked ~ .nav_auto .auto_bt3,
            #rd4:checked ~ .nav_auto .auto_bt4{
    background-color:  rgba(255, 255, 255, 0.273)
}


#sec_geral{
    background-color: rgba(240, 248, 255, 0.844);
    padding-left: 25px;
    padding-right: 25px;
    display: inline;
    border-radius: 10px;
    
}

    .text_titulo{
    text-align: left;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 20px;
}

        .valor{
            font-size: 30px;
            margin-top: 25px;
            position: relative;
        }



.tamanho{
    display: flex;
    margin-top: 50px;
    gap:15px;
    text-align: center;

}

.parte_baixo{
    display: flex;
}


.tamanho_item input + label:before{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 8px;    
    justify-content: center;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(148, 165, 179);
    transition: 350ms;
    text-decoration: none;
    content: "";  

    }
.tamanho_item input:checked + label:before{
    background-color: red;
}


#P:checked ~ .bt_item> .bt_1,
#M:checked ~ .bt_item> .bt_2,
#G:checked ~ .bt_item> .bt_3,
#GG:checked ~ .bt_item> .bt_4
    
   {
    background-color: red;
}




.frete{
    margin-left: 95px;
    display: flex;
    width: 150px;
    height: 50px;   
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
   cursor: pointer;
   background-color: rgb(148, 165, 179);
   transition: 350ms;
   margin-top: 15px;
    
}

.slc_compras{
    display: flex;
    text-align: center;
    margin-top: 50px;
    gap:25px;
    justify-content: right;

}

.bt_comprar, .br_carrinhos{
    padding: 10px ;
    font-size: 18px;
   display: flex;
   text-align: center;
   align-items: center;
   border-radius: 8px;
   cursor: pointer;
   background-color: rgb(148, 165, 179);
   transition: 350ms;
}







