*{
    margin:0;
    padding: 0;
    box-sizing: border-box;}

    .body{
        background-image: url('/bg-produtos-gerais.jpg');
        background-position: top center;
        background-size: cover;
        height: 100vh;
     }  


.imgs_lado{
    background-color: red;
    width:120px ;
    height: 500px;
}
.img_slide{
    width: 100%;
}

section.slider{
    margin:0 auto;
    height: 500px;
    width: 500px;
    padding: 0 ;
    overflow: hidden;
     
}
.carrosel{  
    width: 100%;
    height: auto;  
    display: flex;
    overflow: hidden;
   

}
.slide_box{
   width: 500px;
    height: auto;
    position: relative;
    text-align: center;
}

.selection{
    background-color: green;
    height: 500px;
    width: 350px;
}

.geral{
display: flex;
gap: 75px;
margin-top:50px ;
align-items: center;
justify-content: center;
}

.div_input{

}


.nav_manual, .nav_auto{
    position: absolute;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.nav_manual .manual_bt, .nav_auto div{
    border: 2px solid rgb(63, 111, 59);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.nav_manual .manual_bt:hover{
    background-color: rgb(63, 111, 59);
}

.nav_manual .manual_bt:not(:last-child), .nav_auto div:not(:last-child){
    margin-right: 10px;
}
/*
#rd1:checked .nav_auto .auto_bt1{
    background-color: rgb(97, 136, 82);
}

#rd1:checked ~ .primeiro{
    margin-left: 0%;
}

#rd2:checked ~ .primeiro{
    margin-left: -25%;
}

#rd3:checked ~ .primeiro{
    margin-left: -50%;
}

#rd4:checked ~ .primeiro{
    margin-left: 75%;
}*/


#rd1:checked ~ .nav_auto .auto_bt1, 
    #rd2:checked ~ .nav_auto .auto_bt2,
        #rd3:checked ~ .nav_auto .auto_bt3,
            #rd4:checked ~ .nav_auto .auto_bt4{
    background-color:  rgb(63, 111, 59);
}

#rd1:checked ~ .primeiro{
  
    background-color: black;
}

#rd2:checked ~ .primeiro{
    margin-left: -25%;
}

#rd3:checked ~ .primeiro{
    margin-left: -50%;
}

#rd4:checked ~ .primeiro{
    margin-left: -75%;
}
